  

.container{
    width: 480px;
    height: 460px;
    position: absolute;
    top: 20%;
    left: 35%;
    overflow: scroll;
    box-shadow: 2px 2px 2px 3px black;
}
#head{
    
    width: 290px;
    margin: auto;
    margin-top: 100px;
}
.card{
    width: 401px;
    height: 130px;
    margin-left: 10px;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 10px;
    background-color: #a9ab2f;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px black;
    color: rgb(21, 48, 25);
}
.card h4{
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    color: beige;
}